

 :root {
  --primary-bg: #fffdf8ff; 
  --secondary-bg: #fffae9ff; 
  --button-bg: #342066ff;
  --highlight: #ffd700; 
  --hover-button-bg: #5a3fa0;
  --light-border: #d3d3d3;
}

.inventory{
    padding: 15px;
}
h1{
  text-decoration: underline;
  margin:0px
}
#title-and-search{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#storage-area{
    display: flex;
}
#filters{
    display: inline-flex;
    align-items: center;
}
#filter-sort-add{
    border-radius: 10px;
    display: inline-flex;
    justify-content: space-between;
    width: 96.7%;
    padding: 10px;
    margin-top: 15px;
}
#sort{
    margin-top: 10px;
}
#more-filters{
    margin-left: 25px;
}
#addItemBtn,select, #filter-btn{
    border-radius: 4px;
    font-size: .7rem;
    font-family: Arial, sans-serif;
    background-color: transparent;
    padding: 2px;
}
#search-inventory>*{
    height: 30px;
    width: 200px;
    border-radius: 10px;
    padding-left: 10px;

}
#addItemBtn{
    height: 70px;
    width: 70px;
    color: var(--primary-bg);
    background-color: var(--button-bg);
}
#filter-sort-add, #items{
    border: var(--light-border) 3px solid;
    background-color: var(--secondary-bg);
}
#items{
    border-radius: 10px;
    margin-top: 20px;
    overflow-y: auto;
    width: 100%;
    height: 600px;
    padding-top: 15px
}
td {
  border: 2px solid var(--light-border);
  padding: 8px; 
  margin: 0px;
  text-align: left; 
}

.no-border-table{
    border: none;
}
.name{
    width:35%;
}
.amount{
    width: 170px;
}
.expiration{
    width: 120px;
}
.edit-btn, .delete-btn{
    width: 30px;
    height: 30px;
    /*
    border-radius: 50px;
    border: #342066ff 2px solid;*/
    border: none;
    background-color: transparent;
    padding: 0px;

}
.delete-btn{
    width: 5px;
}
th{
    text-align: left;
}

#search-inventory>input{
    font-size: 16px;
}

.hidden { 
    display: none !important; 
}

.fade {
    position: fixed; top: 0; left: 0; width: 640px; height: 960px;
    background: rgba(0, 0, 0, 0.5); z-index: 10;
}

.AddItem {
    border: solid black 3px;
    position: fixed; top: 20%; left: 120px;
    width: 384px;
    background: white; padding: 20px;
    border-radius: 5px; z-index:11;
}