:root {
  --primary-bg: #fffdf8ff; 
  --secondary-bg: #fffae9ff; 
  --button-bg: #342066ff;
  --highlight: #ffd700; 
  --hover-button-bg: #5a3fa0;
  --light-border: #d3d3d3;
}

html,
body {
    height: 960px;
    width: 640px;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-bg);
    margin: 0%;
    
    background-image: url('../assets/images/bg_food.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body{    
    border: grey 2px;
    border-style: dotted;
}

h1,h2,h3,label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

.fixed-navbar{
    top: 840px;
    width: 640px;
    position: fixed;
    z-index: 20;
}
.fixed-navbar>*{
    display: flex;
    flex-direction: column;
}

/* Style the tab buttons */
.tablink {
    height: 120px;
    background-color: #342066ff;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 18px 16px;
    font-size: 17px;
    width: 20%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: var(--hover-button-bg);
}

/* Set default styles for tab content */
.tabcontent {
    height: 740px;
    color: black;
    padding: 50px;
    text-align: center;
}

.tab-label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.current-tab{
    color: var(--highlight);
}

.icon {
    padding: 2.5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgoldenrodyellow;
    width: 55px;
    height: 55px;
    margin-bottom: 5px;
}
.grocery-button{
    font-size: 18pt;
    background: var(--button-bg);
    color: #fffbee;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    border-radius: 5px;
 }